.transaction-print table {
  border-collapse: collapse;
}

.transaction-print p {
  margin-bottom: 0;
}

.transaction-print .print-signature-section {
  margin-top: 30px;
}

.transaction-print-table th,
.transaction-print-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    background: #fff;
  }

  .application .theme--dark.card,
  .theme--dark .card {
    background: #fff;
    color: #000;
  }

@page {
    size: 5.5in 8.5in;
    size: portrait;
}

  .navigation-drawer {
    display: none;
  }

  .content {
    padding: 0 !important;
    width: 100% !important;
    background: #fff !important;
  }

  .application .theme--dark.divider,
  .theme--dark .divider {
    background-color: #777;
  }

  .toolbar {
    display: none;
  }
}

