.transaction-print{
  table {
    border-collapse: collapse;
  }

  p{
    margin-bottom:0;
  }

  .print-signature-section{
    margin-top:30px;
  }
}

.transaction-print-table{
  th, td {
    border-bottom: 1px solid #ddd;
    padding:15px;
  }
}